<a href="/members/new">Add Member</a>
<% for member in @members %>
<p>Name: <%=member.name%></p>
<p>Membership: <%=member.membership%></p>
<p><a href="/members/<%= member.id %>">Show Details</a></p>
<hr />
<% end %>
