<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <title>Gym Manager</title>
  </head>
  <body>
    <nav class="nav">
      <h1>Gym Manager</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/classes">Classes</a></li>
        <li><a href="/bookings">Bookings</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
