<h1>Create a booking</h1>

<form action="/bookings" method="post">
  <label>
  Select a member:
    <select name="member_id">
      <% for member in @members %>
      <option value="<%= member.id %>"><%= member.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a class:
    <select name="class_id">
      <% for gym_class in @gym_classes %>
      <option value="<%= gym_class.id %>"><%= gym_class.name %></option>
      <% end %>
    </select>
  </label>

  <input type='submit' value="Submit">
</form>
