<form action="/classes" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
  <label for="start-time">Start Time:</label>
  <input type="text" name="start_time" id="start_time">
  <label for="max-capacity">Maximum Capacity:</label>
  <input type="number" name="max_capacity" id="max_capacity">

  <input type="submit" value="Create Class">


</form>
